@import "tailwindcss";
@import "fumadocs-ui/css/ocean.css";
@import "fumadocs-ui/css/preset.css";


@layer base {
  aside [data-radix-scroll-area-viewport] a {
    @apply mb-1;
  }

  nav button {
    @apply cursor-pointer;
  }
}