@import "tailwindcss";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";

:root {
	--color-fd-primary: oklch(0.7127 0.1947 47.79);
}

@layer base {
	aside [data-radix-scroll-area-viewport] a {
		@apply my-1;
	}
}
